/*-----------------------------------------------------------body*/

body {
    font-size: 16px;
    background: #f2f2f2;
}

/*-----------------------------------------------------------header*/

.headerall {
    margin: auto;
}

.headerlogo {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ff893a;
    float: center;
    margin: 0 auto;
    border: 3px solid #a8e038;
}

.headerbrand {
    font-family: "Baloo Thambi 2", sans-serif;   
    color: #a8e038;
    background-color: #ff893a;
    margin: 0 auto;
    border: 3px solid #a8e038;
}

.headerbrand h1 {
    font-size: 320%;
    margin-top: 30%;
    max-width: 100%;
}

.navbar {
    background-color: #a8e038;
    padding: 0;
    margin:0 auto;
}

#navbarnav {
    background-color: #a8e038;
    font-size: 130%;
}


/*-----------------------------------------------------------header button*/

.headerbutton {
    background-color: #a8e038;
}

.enquire {
    background-color: #ff893a;
    border-color: #ff893a;
    margin: 15px 30px 15px 30px;
    position: fixed;
    z-index: 3;
    width: auto;
    right: 20px;
}

.text-decoration-none {
    color: white;
}


/*-----------------------------------------------------------images*/

img {
  width:100%;
  height: auto;
  background-repeat: no-repeat;
  padding: 0 15px 10px 15px;
}


#translucentbox, #translucentbox h1 {
  color:#a8e038;
}

#translucentbox {
  font-size: 130%;
  font-family: "Baloo&nbspThambi&nbsp2", sans-serif; 
  letter-spacing: 4px;
  width: 300px;
  height: 200px;
  padding-top: 40px;
  padding-left: 26px;
  background-color: rgba(255, 137, 58, .8);
  position: absolute;
  z-index: 3;
  left: 18px;
  top: 800px;
}

/*-----------------------------------------------------------description cards*/

.description {
    font-size: 110%;
    padding-bottom: 10px;
}

.card-description {
    border-color: #a8e038;
    background: rgba(255, 137, 58, .15);
}

.card-title {
    color: #a8e038;
    font-weight: 700;
}

.card-text {
    color: #36454f;
}

#mr-description {
    color: #a8e038;
    font-weight: 600;
}

/*-----------------------------------------------------------carousel*/

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #a8e038;
}

/*-----------------------------------------------------------space details*/

.detailsmove {
    margin: 0 15px 10px 15px;
}

.spacedetailheader {
    color: #a8e038;
    background: rgba(255, 137, 58, .7);
    font-weight: 600;
    font-size: 130%;
    border: 1px solid #a8e038;
}

/*-----------------------------------------------------------capacity table*/

.capacitychart {
    margin-right: 30px;
} 

.table {
    margin-left: 15px;
    border: solid 1px #cccccc;
    background: white;
}

th {
    background: rgba(255, 137, 58, .7);
    color:white;
    font-weight: 700;
}

.room {
    background-color: white;
    color: #36454f;
}


/*-----------------------------------------------------------picture cards*/

.cardimage {
    padding-top: 20px;
    background: #f2f2f2;
    text-align: center;
}

.picturecardheader {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-secondary {
    background: #ff893a;
    border-color: #ff893a;
}

.smlcapacity {
    font-size: 20px;
    color: #a8e038;
}

/*-----------------------------------------------------------form*/

.contactusheader {
    color: #a8e038;
    text-align: center;
    margin-top: 30px;
}

.formsendbtn {
    margin-top: 20px;
    text-align: center;
}

.sendbutton {
    text-align: center;
    margin-bottom: 20px;
}

/*-----------------------------------------------------------footer*/

.footerall {
    background-color: #a8e038;
}

.footer {
    min-height: 30px;
}

.footeraddress {
    min-height: 30px;
    margin-top: 10px;
    color: white;
}

.socials {
    font-size: 40px;
    color: white;
}

.footername {
    font-size: 10px;
    text-align: right;
    padding-top: 30px;
    margin-bottom: 10px;
    color: white;
}


/*-----------------------------------------------------------media queries*/

@media screen and (max-width: 768px) {

    .card-description {
        background: rgba(255, 137, 58, .1);
        text-align: center;
    }

    .capacitychart {
        display: none;
    }
} 


@media screen and (max-width: 990px) {
        .enquire {
        right: 20px;
        }

        .avimage {
            display: none;
        }
}

@media screen and (max-width: 1110px) {
    #translucentbox {
        display: none;
    }
}