/*-----------------------------------------------------------body*/





/*-----------------------------------------------------------header*/

.headerall {
    background-color: #f2f9de;
}

.headerlogo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.headerbrand h1 {
    font-family: "Baloo Thambi 2", sans-serif;   
    color: #a8e038;
    text-align: left;
    font-size: 5rem;
    padding-top: 90px;
}

.btn {
    background: #ff893a;
    border-color: #ff893a;
    margin-left: 100px;
}

.navbar-nav mr-auto {
    color:red;
}